paddingH = 12px

:local(.header)
  position fixed
  top 0
  left 0
  right 0
  z-index 10
  display flex
  align-items center
  justify-content space-between
  padding-left paddingH
  padding-right paddingH

:local(.content)
  padding-top 100px
  padding-left paddingH
  padding-right paddingH
