@charset "UTF-8"

:local(.pageContainer)
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items flex-start

:local(.solutionItemContainer)
  margin-bottom 30px
  border-radius 4px
  padding: 30px;
  border 1px solid #ccc

