@charset "UTF-8"

:local(.pageContainer)
  display flex
  justify-content center

:local(.column)
  flex-basis 50%

:local(.column:first-child)
  padding-right 24px
  box-sizing border-box

:local(.column:last-child)
  padding-left 24px
  box-sizing border-box

:local(.solutionsListContainer)
  overflow-y auto
