@charset "UTF-8"

:local(.formConatiner)
  margin-bottom 50px
  text-align center

:local(.formConatiner > *)
  text-align left

:local(.searchForm)
  display inline-flex
  flex-direction column

:local(.formGroup)
  display flex
  flex-direction column
  align-items center

:local(.searhGroup)
  display flex
  align-items center
  position relative

:local(.searchField)
  min-width 400px !important

:local(.submitBtn)
  margin-left 10px !important

:local(.algorithmContainer)
  display flex
  flex-basis 100%
  align-self flex-start
  margin-top 20px
  min-width 100%

:local(.algorithmGroup)
  display flex
  justify-content space-between !important
  flex-wrap nowrap !important
  flex-direction row !important

:local(.radioLabel)
  margin-left 0 !important

:local(.prelaoder)
  position absolute
  top calc(50% - 20px)
  left calc(50% - 20px)